<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es-ES" xml:lang="es">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
    <title>{titulo}</title>
	<link type="text/css" href="templates/template/css/custom-theme/jquery-ui-1.8.20.custom.css" rel="stylesheet" />	
    <link rel="stylesheet" href="templates/template/css/style.css" type="text/css" media="screen" />
	<script type="text/javascript" src="public_html/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="public_html/js/lib/jquery-ui-1.8.20.custom.min.js"></script>
	<script type="text/javascript" src="templates/template/js/script.js"></script>

</head>
<body>
		<div id="fb-root"></div>  
		<script>  
		  window.fbAsyncInit = function() {  
			FB.init({appId: 'your app id', status: true, cookie: true,  
					 xfbml: true});  
		  };  
		  (function() {  
			var e = document.createElement('script'); e.async = true;  
			e.src = document.location.protocol +  
			  '//connect.facebook.net/en_US/all.js';  
			document.getElementById('fb-root').appendChild(e);  
		  }());  
		</script>  
		<div class="Sheet">
			<div class="Header-png"></div>
			<div class="main">
				<div class="left">					
					
					
					<!-- Accordion -->
					<div id="accordion">
						<div>
							<h3><a href="#" class="TituloGenero">Rock Nacional</a></h3>
							<div >
								<a href="index.php?ar=enciassangrantes" class="linkGenero">Encias Sangrantes</a>
								<a href="#" class="linkGenero">Prieto viaja al cosmo con Mariano</a>
								<a href="#" class="linkGenero">Jauria</a>
								<a href="#" class="linkGenero">Andy Chango</a>
							</div>
							
						</div>
						<div>
							<h3><a href="#">Reggae</a></h3>
							<div>Phasellus mattis tincidunt nibh.</div>
						</div>
						<div>
							<h3><a href="#">Ska</a></h3>
							<div>Nam dui erat, auctor a, dignissim quis.</div>
						</div>
						<div>
							<h3><a href="#">Rock Progresivo</a></h3>
							<div>Nam dui erat, auctor a, dignissim quis.</div>
						</div>
						<div>
							<h3><a href="#">Rock Alternativo</a></h3>
							<div>Nam dui erat, auctor a, dignissim quis.</div>
						</div>
						<div>
							<h3><a href="#">Candombe</a></h3>
							<div>Nam dui erat, auctor a, dignissim quis.</div>
						</div>
						<div>
							<h3><a href="#">Folclore</a></h3>
							<div>Nam dui erat, auctor a, dignissim quis.</div>
						</div>
					</div>	               
				
				</div>
				
				<div class="content">					
										

					{maincontent}
             
				
				</div>
				<div class="right">
					<div class="search">			
						<h3>Search:</h3>
						<div>
							<input id="search" style="z-index: 100; position: relative" title="type &quot;a&quot;" />
							<div id="buttonSearch">Search</div>
						</div>
					</div>

					<div class="login">			
						{login}	
					</div>
				</div>
			</div>
		</div>
		<div class="Footer">
			{footer}
		</div>
		
	<script type="text/javascript" src="templates/template/lib/js/mootools-core-1.4.5-full-compat-yc.js"></script>
	<script type="text/javascript" src="templates/template/lib/js/mootools-more-1.4.0.1.js"></script>
	<script type="text/javascript" src="templates/template/lib/js/Carousel.js"></script>
	<script type="text/javascript">
	new Carousel('example');
	</script>

	</body>
</html>
