
.Sheet
{

	position:relative;
	z-index:0;
	margin:0 auto;
	width: 960px;
	min-width:51px;
	min-height:51px;
}

.main
{
	padding-top: 150px;
	position:relative;
	z-index:0;
	width: 960px;
	min-width:51px;
	min-height:51px;
}
.left
{
	float:left;
	position:relative;
	z-index:0;
	width: 200px;
}
.HomeContent
{
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 550px;
	box-shadow: 4px 4px 4px #666;
	-moz-box-shadow: 4px 4px 4px #666;
	-webkit-box-shadow: 4px 4px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=3,MakeShadow=true,ShadowOpacity=0.5)";

	z-index:1;
	
}
.ItemContent
{
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 550px;
	box-shadow: 4px 4px 4px #666;
	-moz-box-shadow: 4px 4px 4px #666;
	-webkit-box-shadow: 4px 4px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=3,MakeShadow=true,ShadowOpacity=0.5)";

	z-index:1;
	
}
.BusquedaContent
{
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 540px;

	
}
.CDContent
{
	
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 540px;

	
}
.right
{
	float:left;
	position:relative;
	z-index:0;
	width: 180px;
	
}

.login
{
	
	display:block;
	text-align: center;
	width: 180px;
	box-shadow: 4px 4px 4px #666;
	-moz-box-shadow: 4px 4px 4px #666;
	-webkit-box-shadow: 4px 4px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=3,MakeShadow=true,ShadowOpacity=0.5)";

	z-index:1;

}
.orden
{

}
.mode
{
}
.avanzadas
{
	margin-left: 30px;
	display:block;
	text-align: left;
margin-bottom:10px;


}

.search
{
	
	text-align: center;
	height: 40px;
	width: 180px;
	padding-bottom: 60px;
	box-shadow: 4px 4px 4px #666;
	-moz-box-shadow: 4px 4px 4px #666;
	-webkit-box-shadow: 4px 4px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=3,MakeShadow=true,ShadowOpacity=0.5)";

	z-index:1;


}
.Footer
{
	position:fixed;
	background: #6bace6;
	height:30px;
	bottom: 0px;
	color: #FFF;
	clear:both;
	width:100%;
}

div.Header-png
{
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 150px;
	background-image: url('../images/HeaderRockola.png');
	background-repeat: no-repeat;
	background-position: left top;
}

/*demo page css*/
body{ font: 62.5% "Trebuchet MS", sans-serif;}
#dialog_link {text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%}
ul#icons {margin: 0; padding: 0;}
ul#icons li {position: relative; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0;}
.TituloGenero{
font-family: Arial, Helvetica, sans-serif; 
font-weight: bold;
display: block;
}
.linkGenero {
border-top: 0; position: relative; 
top: 1px; overflow: auto; display: none; zoom: 1;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px;
color: black;
display: block;
font-weight: normal;
}

.linkGenero:hover {color: #6bace6;font-weight: bold;}



#example {
	position: relative;
}

#example .stage {
	height: 220px;
	margin: 40px 0 0 0;
}

#example .stage img {
	float: left;
	margin-right: 20px;
}

#example .stage h3 {
	margin: 0;
}

#example .stage p {
	width: auto;
	overflow: hidden;
}
.paginacion {
	margin-bottom:50px;
}

.leftButton,.rightButton {
	font-size: 3em;
	margin-top: 40px;
	color: #511;
	cursor: pointer;
	position: absolute;
}

.leftButton {
  left: 0px;
}

.rightButton {
	right: 10px;
}

.scroll {
	margin-left:30px;
	width: 470px;
}

.scroll ul {

	width: 900px;
}

.scroll ul li {

	float: left;
	margin: 10px;
	border: 2px solid #200;
	display: inline;
}

.scroll ul li img {
left: 40 px;
	display: block;
}

.scroll ul li a:focus {
	outline: none;
}
.artista{
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif; 
font-size: 16px;
display: block;
font-weight: normal;
}
.descripcionBanda{
	padding: 0, 40px,  0, 40px;
	margin: 40px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	display: block;
}
.cd{
	width: 150px;
	height: 180px;
}

.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }
.Ov{
	position:fixed!important;
	bottom: 0px!important;;
	clear:both !important;
	width:100%!important;
	height: auto !important;
	min-height:100%!important;

    }
