div.Header-png
{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	height: 150px;
	background-image: url('../images/HeaderRockola.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div#fondo {
   display:none; 
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#AAA;
    z-index:99998;
    /*filter:alpha(opacity=60);*/
    -moz-opacity:.60;
    opacity:.60;
}


#autores  {
    padding: 10px 10px 10px 10px;
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    width:400px;
    height:360px;
    margin-left: -200px;
    margin-top: -180px;
    z-index:99999;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(107,172,230,0.7);
    font-size:medium;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 5px /*{c-body-shadow-radius}*/ #848484;/*{c-body-shadow-color}*/
   text-align: center;
   
}

#autores .okAutores {
	cursor:pointer;
	
}
#autores .okAutores:hover {
	font-style: italic;
	
}

.MainContent {
	float:left;
	position:relative;
	width: 560px;
	min-width: 550px;
	min-height: 600px;
	margin-left:5px;
	margin-right:5px;
	box-shadow: 4px 4px 4px #666;
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-moz-box-background-clip: padding-box;
	-webkit-box-background-clip: padding-box;

	-moz-box-border-radius: .6em;
	-webkit-box-border-radius: .6em;
	border-radius: .6em;
}

#loading {
	z-index:1000;
	position:fixed;
	display: none;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 400px;
}
#loadingBusqueda {
	z-index:1000;
	position:fixed;
    display: none;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 200px;
}
#loadingAdmin {
	z-index:1000;
	position:fixed;
	display: none;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 400px;
}

.Sheet
{

	position:relative;
	z-index:0;
	margin:0 auto;
	width: 960px;
	min-width:51px;
	min-height:51px;
}

.main
{
	padding-top: 150px;
	position:relative;
	z-index:0;
	width: 960px;
	min-width:51px;
	min-height:51px;
}


.left
{
	float:left;
	position:relative;
	z-index:0;
	width: 200px;
	min-width: 200px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-moz-box-background-clip: padding-box;
	-webkit-box-background-clip: padding-box;

	-moz-box-border-radius: .6em;
	-webkit-box-border-radius: .6em;
	border-radius: .6em;
	
	z-index:1;
	background-color:#fff;
	  background-image: -moz-linear-gradient(top, #fff, #eee);
	  background-image: -webkit-gradient(linear, left top,left bottom, from(#fff), to(#eee));
	  background-image: linear-gradient(top, #fff, #eee);
}
.HomeContent
{
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 550px;
	min-width: 550px;
	min-height: 600px;
	



	z-index:1;
	
}
.linkTitulo:hover {color: #727AB9;}
.linkOficial:hover {color: #727AB9;}

.linkTitulo {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 24px;
text-decoration: none;
color: #6bace6;
border: 0px;
-moz-outline-style: none;
}
.tag {
padding-left: 10px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #6bace6;
border: 0px;
-moz-outline-style: none;
cursor:pointer;
}
.tag2 {
padding-left: 10px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #6bace6;
border: 0px;
-moz-outline-style: none;
}
.linkOficial {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 16px;
text-decoration: none;
color: #6bace6;
border: 0px;
-moz-outline-style: none;
}
.ItemContent
{
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 550px;
	min-width: 550px;
	min-height: 600px;
	
	
	
	z-index:1;
	
}
.BusquedaContent
{
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 545px;
	min-width: 545px;
	

	
}
.bandaContent
{
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 545px;
	min-width: 545px;
	
	
}
.CDContent
{
	
	display:none;
	float:left;
	position:relative;
	z-index:0;
	margin-left: 10px;
	width: 550px;
	min-width: 550px;
	min-height: 600px;

	
}
.right
{
	float:left;
	position:relative;
	z-index:0;
	width: 180px;
	
}
.derecha
{
	float:right;
	
}

.login
{
	
	display:block;
	text-align: center;
	width: 180px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-moz-box-background-clip: padding-box;
	-webkit-box-background-clip: padding-box;

	-moz-box-border-radius: .6em;
	-webkit-box-border-radius: .6em;
	border-radius: .6em;
	
	z-index:1;
background-color:#fff;
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -webkit-gradient(linear, left top,left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(top, #fff, #eee);
  
}
.orden
{

}
.mode
{
}
.avanzadas
{
display:none;
	margin-left: 30px;
	text-align: left;
margin-bottom:10px;


}
.opBasicas
{
	display:none;
	text-align: center;
}

.search
{
	
	text-align: center;
	height: 40px;
	width: 180px;
	padding-bottom: 60px;
	box-shadow: 4px 4px 4px #666;
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-moz-box-background-clip: padding-box;
	-webkit-box-background-clip: padding-box;

	-moz-box-border-radius: .6em;
	-webkit-box-border-radius: .6em;
	border-radius: .6em;
	
	z-index:1;
background-color:#fff;
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -webkit-gradient(linear, left top,left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(top, #fff, #eee);
	z-index:1;


}
.Footer
{
	position:fixed;

	background: #6bace6;
	height:50px;
	bottom: 0px;
	color: #111;
	  text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 5px /*{c-body-shadow-radius}*/ #848484;/*{c-body-shadow-color}*/
  
	clear:both;
	width:100%;
	background-color:#fff;
  background-image: -moz-linear-gradient(top, #fff, #6bace6);
  background-image: -webkit-gradient(linear, left top,left bottom, from(#fff), to(#6bace6));
  background-image: linear-gradient(top, #fff, #6bace6);
}



/*demo page css*/
body{ font: 62.5% "Trebuchet MS", sans-serif;}
#dialog_link {text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%}
ul#icons {margin: 0; padding: 0;}
ul#icons li {position: relative; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0;}
.TituloGenero{
font-family: Arial, Helvetica, sans-serif; 
font-weight: bold;
display: block;
}
.linkGenero {
border-top: 0; position: relative; 
top: 1px; overflow: auto; display: none; zoom: 1;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px;
color: black;
display: block;
font-weight: normal;
}
.text {
display:block;
width:200px;
}

.linkGenero:hover {color: #6bace6;font-weight: bold;}



#example {
	
	position: relative;
}

#example .stage {
	height: 370px;
	margin: 40px 0 0 0;
}

#example .stage img {
	margin-right: 20px;
}

#example .stage h3 {
	margin: 0;
}

#example .stage p {
	width: auto;
	overflow: hidden;
}
.paginacion {

	margin-bottom:50px;
}
#paginate {

	float:left;
	display:block;
}

.leftButton,.rightButton {
	font-size: 3em;
	margin-top: 40px;
	color: #511;
	cursor: pointer;
	position: absolute;
}

.leftButton {
  left: 0px;
}

.rightButton {
	right: 10px;
}

.scroll {
	margin-left:30px;
	width: 470px;
}

.scroll ul {

	width: 900px;
}

.scroll ul li {

	float: left;
	margin: 10px;
	border: 2px solid #200;
	display: inline;
}

.scroll ul li img {
left: 40 px;
	display: block;
}

.scroll ul li a:focus {
	outline: none;
}
.artista{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 24px;
text-decoration: none;
color: #6bace6;
border: 0px;
padding-top:20px;
padding-bottom:20px;
-moz-outline-style: none;
}
.titulocd{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
color: #2b6ce6;
border: 0px;
padding-top:20px;
padding-bottom:20px;
-moz-outline-style: none;
}

.descripcionBanda{
margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	display: block;
}
.infoBanda{

	margin: 10px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	display: block;
}
.linkOficial {
	margin: 10px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: block;
color: #6bace6;
border: 0px;
-moz-outline-style: none;
}
.imagenbanda {
padding-left: 100px;
	padding-bottom: 20px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: block;
color: #6bace6;
border: 0px;
-moz-outline-style: none;
}
.subtituloBanda{
	font-weight: bold;
	padding: 0px, 40px, 0px, 0px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
}
.cd{
	width: 150px;
		height: 200px!important;
}

.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }
.Ov{
	position:fixed!important;
	bottom: 0px!important;;
	clear:both !important;
	width:100%!important;
	height: auto !important;
	min-height:100%!important;

    }
#resultado {
margin-left:10px;
margin-bottom:10px;
	float:left;
	width: 160px;
	height: 220px;
	top: 100px;
	right: 0px;
	z-index: 1000;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(255,255,255,0.7);

}
#resultados {

	display:block;
	width: 540px;

	z-index: 1000;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(255,255,255,0.7);

}

#resultado:hover {
	cursor:pointer;
	background: rgba(211,238,248,0.8);
}
.imagenresult {
	height:150px;
	margin-left:5px;
	margin-bottom:10px;
	}
.info {
vertical-align: middle;
position: relative;
height:45px;
margin-bottom:2px;
}
.resultadoTitulo{

border-top: 0; position: relative; 
top: 1px; overflow: auto; display: none; zoom: 1;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px;
display: block;
font-weight: normal;
color:#3b7ce6;
margin-bottom:2px;

}
.resultadoAnio{

	margin-bottom:2px;
	border-top: 0; position: relative; 
	bottom: 2px; overflow: auto; display: none; zoom: 1;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	display: block;
	font-weight: normal;
	color:#000000;

}
.formReturn{
	float:right;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:50px;
}

.opAvanzadas:hover {
	font-style: italic;
}
.opBasicas:hover {
	font-style: italic;
}

input.element {
	display:inline;
}

textarea.element {
	display:inline;
	min-height: 150px;
	min-width: 350px;
}
