<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es-ES" xml:lang="es">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{titulo}</title>
	<link type="text/css" href="public_html/templates/template1/css/custom-theme/jquery-ui-1.8.20.custom.css" rel="stylesheet" />	
    <link rel="stylesheet" href="public_html/templates/template1/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="public_html/css/main.css" type="text/css"  />
	<link rel="stylesheet" type="text/css" href="public_html/templates/template1/css/formwizard.css" />
	<script type="text/javascript" src="public_html/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="public_html/templates/template1/js/lib/jquery-ui-1.8.20.custom.min.js"></script>
	<script language="javascript" src="public_html/js/lib/mustache.js"></script>
	<script type="text/javascript" src="public_html/templates/template1/js/script.js"></script>
	<script type="text/javascript" src="public_html/js/main.js"></script>
	<script type="text/javascript" src="public_html/js/lib/mootools-core-1.4.5-full-compat-yc.js"></script>
	<script type="text/javascript" src="public_html/js/lib/mootools-more-1.4.0.1.js"></script>
	<script type="text/javascript" src="public_html/js/lib/Carousel.js"></script>
	<script type="text/javascript" src="public_html/templates/template1/js/lib/chillbox-packed.js"></script>
	
</head>
<body>
  <div id="fb-root"></div>  

		
		<div class="Sheet">
			<div class="Header-png"></div>
			<div class="main">
				<div class="left">					
					
					{categorias}					               
				
				</div>
				
				<div class="HomeContent" id="HomeContent">	
		
					{maincontent}            
				</div>
				<div class="ItemContent" id="ItemContent">				
					{itemcontent}            
				</div>
				<div class="right">
					<div class="search">			
						<h3>Search:</h3>
						<div>
							<input id="search" style="z-index: 100; position: relative" title="type &quot;a&quot;" />
							<div id="buttonSearch">Search</div>
						</div>
					</div>

					<div class="login">			
						{login}	
					</div>
				</div>
			</div>
		</div>
		<div class="Footer">
			{footer}
		</div>
		



	</body>
</html>
